<div class="container">
  <button (click)="userDetails(user.id)" class='btn btn-info' data-toggle="modal"
      data-target="#myModal">AddPost</button> 
  <table class="table" id='tab'>
    <thead>
        <tr>
            
            <th scope="col">produit ID</th>
            <th scope="col">Produit Name</th>
            <th scope="col">price</th>
            <th scope="col">publisher</th>
            <th scope="col">image</th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let user of users">
           
            <td>{{ user.id}}</td>
            <td>{{ user.username}}</td>
            <td>{{ user.verified}}</td>
             
            
            <td><img class="img-fluid img-responsive rounded product-image"
                src="assets/products/products/{{user.image}}"> </td>
                
            <td> <button (click)="userDetails(user.id)" class='btn btn-info' data-toggle="modal"
                    data-target="#myModal">Details</button> </td>
                    
        </tr>
        
    </tbody>
     
</table>
</div>
